<div class="fs-11 text-primary-600 d-flex flex-column flex-grow-1">
  <h3 class="fs-11">能量指數</h3>
  <button id="energyBtn" aria-label="能量指數" class="d-flex btn border-1 border-neutral-100 bg-neutral-0 p-3 rounded-3">
    <span class="icon-slot me-2" data-variant="energy" data-state="outline">
      <svg class="" width="44" height="40" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 38.1436C23.6308 38.1436 23.265 38.0787 22.9026 37.9488C22.5402 37.8188 22.2154 37.6171 21.9282 37.3436L19.3436 34.9847C16.3897 32.2906 13.7607 29.6513 11.4564 27.0667C9.15214 24.4821 8 21.6582 8 18.5949C8 16.1057 8.83473 14.0271 10.5042 12.359C12.1737 10.6906 14.2538 9.85645 16.7446 9.85645C18.1491 9.85645 19.4838 10.1607 20.7487 10.7693C22.0137 11.3778 23.0974 12.2359 24 13.3436C24.9299 12.2359 26.0201 11.3778 27.2706 10.7693C28.521 10.1607 29.8514 9.85645 31.2615 9.85645C33.7507 9.85645 35.8293 10.6906 37.4974 12.359C39.1658 14.0271 40 16.1057 40 18.5949C40 21.6582 38.8513 24.4855 36.5538 27.077C34.2564 29.6684 31.6239 32.3043 28.6564 34.9847L26.0718 37.3436C25.7846 37.6171 25.4598 37.8188 25.0974 37.9488C24.735 38.0787 24.3692 38.1436 24 38.1436ZM22.5346 16.4985C21.8295 15.3662 21.0017 14.4889 20.0513 13.8667C19.1009 13.2445 17.9932 12.9334 16.7282 12.9334C15.1137 12.9334 13.7682 13.4701 12.6917 14.5436C11.6152 15.6171 11.0769 16.9654 11.0769 18.5883C11.0769 19.9953 11.5761 21.49 12.5744 23.0724C13.5726 24.6549 14.7624 26.1915 16.1436 27.6821C17.5248 29.1727 18.947 30.5641 20.4103 31.8564C21.8735 33.1488 23.0701 34.212 24 35.0462C24.9299 34.212 26.1265 33.1488 27.5897 31.8564C29.053 30.5641 30.4752 29.1727 31.8564 27.6821C33.2376 26.1915 34.4274 24.6549 35.4256 23.0724C36.4239 21.49 36.9231 19.9953 36.9231 18.5883C36.9231 16.9654 36.3848 15.6171 35.3083 14.5436C34.2318 13.4701 32.8863 12.9334 31.2718 12.9334C30.0068 12.9334 28.8957 13.2445 27.9385 13.8667C26.9812 14.4889 26.15 15.3662 25.4449 16.4985C25.2748 16.7747 25.0612 16.9778 24.8041 17.1077C24.5467 17.2376 24.2766 17.3026 23.9938 17.3026C23.7108 17.3026 23.4393 17.2376 23.1795 17.1077C22.9197 16.9778 22.7047 16.7747 22.5346 16.4985Z" 
        fill="#EE6666"/>
      </svg>
    </span>
    <span class="icon-slot me-2">
      <svg class="" width="44" height="40" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 38.1436C23.6308 38.1436 23.265 38.0787 22.9026 37.9488C22.5402 37.8188 22.2154 37.6171 21.9282 37.3436L19.3436 34.9847C16.3897 32.2906 13.7607 29.6513 11.4564 27.0667C9.15214 24.4821 8 21.6582 8 18.5949C8 16.1057 8.83473 14.0271 10.5042 12.359C12.1737 10.6906 14.2538 9.85645 16.7446 9.85645C18.1491 9.85645 19.4838 10.1607 20.7487 10.7693C22.0137 11.3778 23.0974 12.2359 24 13.3436C24.9299 12.2359 26.0201 11.3778 27.2706 10.7693C28.521 10.1607 29.8514 9.85645 31.2615 9.85645C33.7507 9.85645 35.8293 10.6906 37.4974 12.359C39.1658 14.0271 40 16.1057 40 18.5949C40 21.6582 38.8513 24.4855 36.5538 27.077C34.2564 29.6684 31.6239 32.3043 28.6564 34.9847L26.0718 37.3436C25.7846 37.6171 25.4598 37.8188 25.0974 37.9488C24.735 38.0787 24.3692 38.1436 24 38.1436ZM22.5346 16.4985C21.8295 15.3662 21.0017 14.4889 20.0513 13.8667C19.1009 13.2445 17.9932 12.9334 16.7282 12.9334C15.1137 12.9334 13.7682 13.4701 12.6917 14.5436C11.6152 15.6171 11.0769 16.9654 11.0769 18.5883C11.0769 19.9953 11.5761 21.49 12.5744 23.0724C13.5726 24.6549 14.7624 26.1915 16.1436 27.6821C17.5248 29.1727 18.947 30.5641 20.4103 31.8564C21.8735 33.1488 23.0701 34.212 24 35.0462C24.9299 34.212 26.1265 33.1488 27.5897 31.8564C29.053 30.5641 30.4752 29.1727 31.8564 27.6821C33.2376 26.1915 34.4274 24.6549 35.4256 23.0724C36.4239 21.49 36.9231 19.9953 36.9231 18.5883C36.9231 16.9654 36.3848 15.6171 35.3083 14.5436C34.2318 13.4701 32.8863 12.9334 31.2718 12.9334C30.0068 12.9334 28.8957 13.2445 27.9385 13.8667C26.9812 14.4889 26.15 15.3662 25.4449 16.4985C25.2748 16.7747 25.0612 16.9778 24.8041 17.1077C24.5467 17.2376 24.2766 17.3026 23.9938 17.3026C23.7108 17.3026 23.4393 17.2376 23.1795 17.1077C22.9197 16.9778 22.7047 16.7747 22.5346 16.4985Z" 
        fill="#EE6666"/>
      </svg>
    </span>
    <span class="icon-slot me-2">
      <svg class="" width="44" height="40" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 38.1436C23.6308 38.1436 23.265 38.0787 22.9026 37.9488C22.5402 37.8188 22.2154 37.6171 21.9282 37.3436L19.3436 34.9847C16.3897 32.2906 13.7607 29.6513 11.4564 27.0667C9.15214 24.4821 8 21.6582 8 18.5949C8 16.1057 8.83473 14.0271 10.5042 12.359C12.1737 10.6906 14.2538 9.85645 16.7446 9.85645C18.1491 9.85645 19.4838 10.1607 20.7487 10.7693C22.0137 11.3778 23.0974 12.2359 24 13.3436C24.9299 12.2359 26.0201 11.3778 27.2706 10.7693C28.521 10.1607 29.8514 9.85645 31.2615 9.85645C33.7507 9.85645 35.8293 10.6906 37.4974 12.359C39.1658 14.0271 40 16.1057 40 18.5949C40 21.6582 38.8513 24.4855 36.5538 27.077C34.2564 29.6684 31.6239 32.3043 28.6564 34.9847L26.0718 37.3436C25.7846 37.6171 25.4598 37.8188 25.0974 37.9488C24.735 38.0787 24.3692 38.1436 24 38.1436ZM22.5346 16.4985C21.8295 15.3662 21.0017 14.4889 20.0513 13.8667C19.1009 13.2445 17.9932 12.9334 16.7282 12.9334C15.1137 12.9334 13.7682 13.4701 12.6917 14.5436C11.6152 15.6171 11.0769 16.9654 11.0769 18.5883C11.0769 19.9953 11.5761 21.49 12.5744 23.0724C13.5726 24.6549 14.7624 26.1915 16.1436 27.6821C17.5248 29.1727 18.947 30.5641 20.4103 31.8564C21.8735 33.1488 23.0701 34.212 24 35.0462C24.9299 34.212 26.1265 33.1488 27.5897 31.8564C29.053 30.5641 30.4752 29.1727 31.8564 27.6821C33.2376 26.1915 34.4274 24.6549 35.4256 23.0724C36.4239 21.49 36.9231 19.9953 36.9231 18.5883C36.9231 16.9654 36.3848 15.6171 35.3083 14.5436C34.2318 13.4701 32.8863 12.9334 31.2718 12.9334C30.0068 12.9334 28.8957 13.2445 27.9385 13.8667C26.9812 14.4889 26.15 15.3662 25.4449 16.4985C25.2748 16.7747 25.0612 16.9778 24.8041 17.1077C24.5467 17.2376 24.2766 17.3026 23.9938 17.3026C23.7108 17.3026 23.4393 17.2376 23.1795 17.1077C22.9197 16.9778 22.7047 16.7747 22.5346 16.4985Z" 
        fill="#EE6666"/>
      </svg>
    </span>
    <span class="icon-slot me-2">
      <svg class="" width="44" height="40" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 38.1436C23.6308 38.1436 23.265 38.0787 22.9026 37.9488C22.5402 37.8188 22.2154 37.6171 21.9282 37.3436L19.3436 34.9847C16.3897 32.2906 13.7607 29.6513 11.4564 27.0667C9.15214 24.4821 8 21.6582 8 18.5949C8 16.1057 8.83473 14.0271 10.5042 12.359C12.1737 10.6906 14.2538 9.85645 16.7446 9.85645C18.1491 9.85645 19.4838 10.1607 20.7487 10.7693C22.0137 11.3778 23.0974 12.2359 24 13.3436C24.9299 12.2359 26.0201 11.3778 27.2706 10.7693C28.521 10.1607 29.8514 9.85645 31.2615 9.85645C33.7507 9.85645 35.8293 10.6906 37.4974 12.359C39.1658 14.0271 40 16.1057 40 18.5949C40 21.6582 38.8513 24.4855 36.5538 27.077C34.2564 29.6684 31.6239 32.3043 28.6564 34.9847L26.0718 37.3436C25.7846 37.6171 25.4598 37.8188 25.0974 37.9488C24.735 38.0787 24.3692 38.1436 24 38.1436ZM22.5346 16.4985C21.8295 15.3662 21.0017 14.4889 20.0513 13.8667C19.1009 13.2445 17.9932 12.9334 16.7282 12.9334C15.1137 12.9334 13.7682 13.4701 12.6917 14.5436C11.6152 15.6171 11.0769 16.9654 11.0769 18.5883C11.0769 19.9953 11.5761 21.49 12.5744 23.0724C13.5726 24.6549 14.7624 26.1915 16.1436 27.6821C17.5248 29.1727 18.947 30.5641 20.4103 31.8564C21.8735 33.1488 23.0701 34.212 24 35.0462C24.9299 34.212 26.1265 33.1488 27.5897 31.8564C29.053 30.5641 30.4752 29.1727 31.8564 27.6821C33.2376 26.1915 34.4274 24.6549 35.4256 23.0724C36.4239 21.49 36.9231 19.9953 36.9231 18.5883C36.9231 16.9654 36.3848 15.6171 35.3083 14.5436C34.2318 13.4701 32.8863 12.9334 31.2718 12.9334C30.0068 12.9334 28.8957 13.2445 27.9385 13.8667C26.9812 14.4889 26.15 15.3662 25.4449 16.4985C25.2748 16.7747 25.0612 16.9778 24.8041 17.1077C24.5467 17.2376 24.2766 17.3026 23.9938 17.3026C23.7108 17.3026 23.4393 17.2376 23.1795 17.1077C22.9197 16.9778 22.7047 16.7747 22.5346 16.4985Z" 
        fill="#EE6666"/>
      </svg>
    </span>
    <span class="icon-slot">
      <svg class="" width="44" height="40" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 38.1436C23.6308 38.1436 23.265 38.0787 22.9026 37.9488C22.5402 37.8188 22.2154 37.6171 21.9282 37.3436L19.3436 34.9847C16.3897 32.2906 13.7607 29.6513 11.4564 27.0667C9.15214 24.4821 8 21.6582 8 18.5949C8 16.1057 8.83473 14.0271 10.5042 12.359C12.1737 10.6906 14.2538 9.85645 16.7446 9.85645C18.1491 9.85645 19.4838 10.1607 20.7487 10.7693C22.0137 11.3778 23.0974 12.2359 24 13.3436C24.9299 12.2359 26.0201 11.3778 27.2706 10.7693C28.521 10.1607 29.8514 9.85645 31.2615 9.85645C33.7507 9.85645 35.8293 10.6906 37.4974 12.359C39.1658 14.0271 40 16.1057 40 18.5949C40 21.6582 38.8513 24.4855 36.5538 27.077C34.2564 29.6684 31.6239 32.3043 28.6564 34.9847L26.0718 37.3436C25.7846 37.6171 25.4598 37.8188 25.0974 37.9488C24.735 38.0787 24.3692 38.1436 24 38.1436ZM22.5346 16.4985C21.8295 15.3662 21.0017 14.4889 20.0513 13.8667C19.1009 13.2445 17.9932 12.9334 16.7282 12.9334C15.1137 12.9334 13.7682 13.4701 12.6917 14.5436C11.6152 15.6171 11.0769 16.9654 11.0769 18.5883C11.0769 19.9953 11.5761 21.49 12.5744 23.0724C13.5726 24.6549 14.7624 26.1915 16.1436 27.6821C17.5248 29.1727 18.947 30.5641 20.4103 31.8564C21.8735 33.1488 23.0701 34.212 24 35.0462C24.9299 34.212 26.1265 33.1488 27.5897 31.8564C29.053 30.5641 30.4752 29.1727 31.8564 27.6821C33.2376 26.1915 34.4274 24.6549 35.4256 23.0724C36.4239 21.49 36.9231 19.9953 36.9231 18.5883C36.9231 16.9654 36.3848 15.6171 35.3083 14.5436C34.2318 13.4701 32.8863 12.9334 31.2718 12.9334C30.0068 12.9334 28.8957 13.2445 27.9385 13.8667C26.9812 14.4889 26.15 15.3662 25.4449 16.4985C25.2748 16.7747 25.0612 16.9778 24.8041 17.1077C24.5467 17.2376 24.2766 17.3026 23.9938 17.3026C23.7108 17.3026 23.4393 17.2376 23.1795 17.1077C22.9197 16.9778 22.7047 16.7747 22.5346 16.4985Z" 
        fill="#EE6666"/>
      </svg>
    </span>
  </button>
  <template id="energy-solid">
    <!-- 實心 SVG -->
    <svg width="44" height="40" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M24 38.1436C23.6308 38.1436 23.265 38.0787 22.9026 37.9488C22.5402 37.8188 22.2154 37.6171 21.9282 37.3436L19.3436 34.9847C16.3897 32.2906 13.7607 29.6513 11.4564 27.0667C9.15214 24.4821 8 21.6582 8 18.5949C8 16.106 8.83419 14.0274 10.5026 12.359C12.1709 10.6906 14.2496 9.85645 16.7385 9.85645C18.147 9.85645 19.4838 10.1607 20.7487 10.7693C22.0137 11.3778 23.0974 12.2359 24 13.3436C24.9299 12.2359 26.0205 11.3778 27.2718 10.7693C28.5231 10.1607 29.853 9.85645 31.2615 9.85645C33.7504 9.85645 35.8291 10.6906 37.4974 12.359C39.1658 14.0274 40 16.106 40 18.5949C40 21.6582 38.8513 24.4855 36.5538 27.077C34.2564 29.6684 31.6239 32.3043 28.6564 34.9847L26.0718 37.3436C25.7846 37.6171 25.4598 37.8188 25.0974 37.9488C24.735 38.0787 24.3692 38.1436 24 38.1436Z" fill="#EE6666"/>
    </svg>
  </template>
  <template id="energy-outline">
    <!-- 空心 SVG（不同 path） -->
    <svg class="" width="44" height="40" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M24 38.1436C23.6308 38.1436 23.265 38.0787 22.9026 37.9488C22.5402 37.8188 22.2154 37.6171 21.9282 37.3436L19.3436 34.9847C16.3897 32.2906 13.7607 29.6513 11.4564 27.0667C9.15214 24.4821 8 21.6582 8 18.5949C8 16.1057 8.83473 14.0271 10.5042 12.359C12.1737 10.6906 14.2538 9.85645 16.7446 9.85645C18.1491 9.85645 19.4838 10.1607 20.7487 10.7693C22.0137 11.3778 23.0974 12.2359 24 13.3436C24.9299 12.2359 26.0201 11.3778 27.2706 10.7693C28.521 10.1607 29.8514 9.85645 31.2615 9.85645C33.7507 9.85645 35.8293 10.6906 37.4974 12.359C39.1658 14.0271 40 16.1057 40 18.5949C40 21.6582 38.8513 24.4855 36.5538 27.077C34.2564 29.6684 31.6239 32.3043 28.6564 34.9847L26.0718 37.3436C25.7846 37.6171 25.4598 37.8188 25.0974 37.9488C24.735 38.0787 24.3692 38.1436 24 38.1436ZM22.5346 16.4985C21.8295 15.3662 21.0017 14.4889 20.0513 13.8667C19.1009 13.2445 17.9932 12.9334 16.7282 12.9334C15.1137 12.9334 13.7682 13.4701 12.6917 14.5436C11.6152 15.6171 11.0769 16.9654 11.0769 18.5883C11.0769 19.9953 11.5761 21.49 12.5744 23.0724C13.5726 24.6549 14.7624 26.1915 16.1436 27.6821C17.5248 29.1727 18.947 30.5641 20.4103 31.8564C21.8735 33.1488 23.0701 34.212 24 35.0462C24.9299 34.212 26.1265 33.1488 27.5897 31.8564C29.053 30.5641 30.4752 29.1727 31.8564 27.6821C33.2376 26.1915 34.4274 24.6549 35.4256 23.0724C36.4239 21.49 36.9231 19.9953 36.9231 18.5883C36.9231 16.9654 36.3848 15.6171 35.3083 14.5436C34.2318 13.4701 32.8863 12.9334 31.2718 12.9334C30.0068 12.9334 28.8957 13.2445 27.9385 13.8667C26.9812 14.4889 26.15 15.3662 25.4449 16.4985C25.2748 16.7747 25.0612 16.9778 24.8041 17.1077C24.5467 17.2376 24.2766 17.3026 23.9938 17.3026C23.7108 17.3026 23.4393 17.2376 23.1795 17.1077C22.9197 16.9778 22.7047 16.7747 22.5346 16.4985Z" 
      fill="#EE6666"/>
    </svg>
  </template>  
</div>

<script>
       // 愛心評分：點第 N 顆 => 前 N 顆實心；再點同一顆 => 清空
  document.addEventListener('click', (e) => {
    const btn   = e.target.closest('#energyBtn');
    const slot  = e.target.closest('#energyBtn .icon-slot');
    if (!btn || !slot) return;
  
    const slots = Array.from(btn.querySelectorAll('.icon-slot'));
    const idx   = slots.indexOf(slot);             // 第幾顆被點
    const solid = document.getElementById('energy-solid');
    const line  = document.getElementById('energy-outline');
    if (!solid || !line) return;
  
    // 目前連續「實心」的數量（由左到右）
    let filled = 0;
    for (const s of slots) {
      if ((s.dataset.state || 'outline') === 'solid') filled++;
      else break;
    }
  
    // 點同一顆（與目前 filled 相同）就清空，否則設為 idx+1 顆
    const target = (filled === idx + 1) ? 0 : (idx + 1);
  
    // 套用實心 / 空心
    slots.forEach((s, i) => {
      if (i < target) {
        s.innerHTML = solid.innerHTML;
        s.dataset.state = 'solid';
      } else {
        s.innerHTML = line.innerHTML;
        s.dataset.state = 'outline';
      }
    });
  
    // 無障礙說明
    btn.setAttribute('aria-label', `能量指數：${target} / ${slots.length}`);
  });
</script>