<p class="fs-12 text-primary-700 mb-0">你可以在這裡設定日記主題</p> <!--p的通用樣式可能錯了-->
<p class="fs-12 text-primary-700 mb-2">書寫可以幫助你釋放情緒與思緒 好好結束一天</p><!--p的通用樣式可能錯了-->
<div class="d-flex flex-wrap gap-3 mb-3">
  <button type="button" class="fs-12 p-3 btn topic-btn text-primary-500 border-primary-500 border border-1 rounded-1" data-bs-toggle="button">日常生活</button>
  <button type="button" class="fs-12 p-3 btn topic-btn text-primary-500 border-primary-500 border border-1 rounded-1" data-bs-toggle="button">感謝的事</button>
  <button type="button" class="fs-12 p-3 btn topic-btn text-primary-500 border-primary-500 border border-1 rounded-1" data-bs-toggle="button">今日成就</button>
  <button type="button" class="fs-12 p-3 btn topic-btn text-primary-500 border-primary-500 border border-1 rounded-1" data-bs-toggle="button">重要的事</button>
  <button type="button" class="fs-12 p-3 btn topic-btn text-primary-500 border-primary-500 border border-1 rounded-1" data-bs-toggle="button">很棒的事</button>
  <button type="button" class="fs-12 p-3 btn topic-btn text-primary-500 border-primary-500 border border-1 rounded-1" data-bs-toggle="button">其他</button>
  <button type="button" class="fs-12 p-3 btn topic-btn text-primary-500 border-primary-500 border border-1 rounded-1" data-bs-toggle="button">＋ 自訂</button> 
</div>
<a class="d-flex align-items-center text-primary-700" href="settingTemplate.html">
  <p class="fs-12 mb-0">前往設定</p>
  <p class="fs-12 fw-bold mb-0">筆記模板</p>
</a>