<div class="accordion accordion-flush mb-2" id="accordionFlushExample">
  <div class="accordion-item rounded-top-m rounded-bottom-xs">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed fs-11 text-primary-700" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        日常生活
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        
      </div>
    </div>
  </div>
  <div class="accordion-item rounded-top-m rounded-bottom-xs">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed fs-11 text-primary-700" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        感謝的事
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        
      </div>
    </div>
  </div>
  <div class="accordion-item rounded-top-m rounded-bottom-xs">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed fs-11 text-primary-700" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        其他
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">                  
      </div>
    </div>
  </div>
</div>