<section  class="container">
    <div class="row">
        <div class="col-12">
            
            <img src="../assets/images/white-phone.svg" alt="" class="w-100">
        </div>
    </div>
</section>