.bg-home{
    background-image: url("../assets/images/Breathing/home.svg");
}
.mb-7px{
    margin-bottom: 7px;
}
.cat-pos{
    margin-top: 282px;
    margin-left: 43px;
}
.dialogue-pos{
    margin-top: 267px;
    margin-left: 162px;
}