.roof {
  background: url(/assets/images/總覽/roof.png) no-repeat center center;
  background-color: #e8f6ff;
  background-position: contain;
  padding-top: 44.75px;
  padding-bottom: 44.75px;

  ::after {
  content: "";
  position: absolute; /* 相對 roof */
  top: -15px;
  left: 97px;
  width: 32px;
  height: 38px;
  background: $primary-300;
  border-right: 32px solid transparent; /* 左邊透明 */
  border-bottom: 15px solid $primary-100;       /* 底邊顏色就是三角形顏色 */
}
}

.cat-paw-1 {
  position: absolute;
  top: -45px;
  left: 115px;
}

.cat-paw-2 {
  position: absolute;
  top: -34px;
  left: 103px;
}

/*貓咪打招呼*/

.o-cat {
  width: 93px; 
  height: 127px;
}

.o-text {
  padding: 7.5px 6.5px;
  margin-left: 2px;
  margin-top: 40px;
}

//日期
.table-layout-fixed {
  table-layout: fixed;
}

.table-layout-fixed th,
.table-layout-fixed td {
  width: calc(100% / 7); /* 7 欄平均分 */
  text-align: center;
}

.date-circle {
  width: 32px;
  height: 32px;
  padding: 6px;
  margin: 6px;
}

.cat-mood {
  padding: 2px 4px;
}

.cat-search {
  padding: 19px 47px 20px 47px;
}

.icon-search {
  margin: 11px 9px 11px 10px;
}

//小貓卡片
.wh74 {
  width: 74px;
  height: 74px;
}

.wh26 {
  width: 26px;
  height: 26px;
}

.w-64 {
  width: 64px;
}