.main-setting{
    height: 100vh;
    padding-top: 3.625rem;
    .content{
        .settingAccount, .settingTemplate, .settingNotification, .settingOnboarding{
            gap: .125rem;
            .setting-item{
                height: 4rem;
                .setting-item-content{
                    gap: .125rem;
                    .avatar{
                        width: 2.5rem;
                        aspect-ratio: 1 / 1;
                        overflow: hidden;
                        img{
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    .icons{
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
            }
        }
    }
}