.main-setting{
    padding-top: 3.625rem;
    .content{
        .settingAccount, .settingTemplate, .settingNotification, .settingOnboarding{
            gap: .125rem;
            .setting-item{
                height: 4rem;
                .setting-item-content{
                    gap: .125rem;
                }
            }
        }
    }
}

.main-settingAccount{
    padding-top: 3.625rem;
    .loginAccount{
        position: relative;
        .form-control{
            height: 4rem;
            padding-right: .5rem;
            padding-left: 4.75rem;
        }
        span{
            position: absolute;
            bottom: 21px;
            left: 1.5rem;
            z-index: 1;
        }
    }
}