<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  
    <title>導覽列-呼吸</title>
  </head>
  <body class="bg-home  d-flex flex-column align-items-center justify-content-center">
    <main class="ttt position-relative">
        <%- include('./layout/phone'); -%> 
        <section class="container px-4">
            <div class="row">
                <div class="col-12 position-relative">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="d-flex flex-column mb-0">
                            <span class="fs-3 text-primary-700 fw-bold mb-7px">Hi, Sarah</span>
                            <span class="fs-12 text-primary-700">與 Mofu 相遇的第 17 天</span>
                        </p>
                        <a href="../pages/growth-record.html"><img src="../assets/images/Breathing/footprint-2.svg" alt=""></a>
                    </div>
                    <img src="../assets/images/Breathing/dialogue.svg" alt="" class="dialogue-pos position-absolute">
                    <img src="../assets/images/Breathing/cat-sleep-2.png" alt="" class="cat-pos position-absolute">
                </div>
            </div>
        </section>
        <!-- <img src="../assets/images/Breathing/cat-sleep-2.png" alt="" class="cat-pos position-absolute"> -->
        

        <%- include('./layout/footer'); -%>

        
    
    </main>

    <script type="module" src="../main.js"></script>
  </body>
</html>
