<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit-itinerary</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

<div class="container has-bottom-pad bg-scene page-wrapper">
  <div class="row">
    <div class="col-12 d-flex flex-column ">
      <!-- 頂部：問候 -->
      <div class="d-flex justify-content-between align-items-start my-2 mx-4">
        <div>
          <h1 class="text-primary-700 fw-bold fs-6 mb-1">Hi, Sarah</h1>
          <p class="fs-11 text-primary-700 mb-0">與 Mofu 相遇的第 17 天</p>
        </div>
        <img src="../assets/images/icons/icon_pet.png" alt="icon_pet">
      </div>
      <!-- 場景：背景圖 + 貓 + ZZZ -->
      <div class="mx-auto">
        <!-- ZZZ 泡泡：依你提供位置 -->
        <div class="speech p-1 px-2 d-inline-block bg-neutral-0 rounded-top-xs rounded-bottom-right-xs shadow-sm">
          <p class="fs-12 text-primary-600 mb-0 ">ZZZ.......</p>
        </div>

        <!-- 貓槽位：百分比等比縮放，不跑版 -->
        <div class="cat-slot">
          <img src="../assets/images/cat/action_cat_sleep2.png" alt="action_cat_sleep2">
        </div>
      </div>
      <!-- 場景底部：貼在背景圖底邊 -->
      <div class="scene-footer d-flex align-items-center"><!--fixed-bottom不管頁面怎麼捲動，這個元素永遠黏在螢幕底端-->
        <button class="tag-btn d-flex align-items-center">
          <img src="../assets/images/icons/icon_calendar_date.png" alt="icon_calendar_date" class="me-2" width="20" height="20">
          <span class="fs-9 text-primary-600 fw-bold">編輯放鬆行程</span>
        </button>
      
        <div class="task-card position-relative px-4 py-2 rounded-3 d-flex align-items-start flex-grow-1">
          <div class="flex-grow-1 pe-6">
            <div class="fs-11 fw-medium text-primary-500">已完成 0 / 4</div>
            <div class="progress progress-thin mt-1 rounded-pill" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25">
              <div class="progress-bar rounded-pill" style="width:50%"></div><!--width:0%改動可改進度條百分比-->
            </div>
          </div>
          <div class="icon-badge position-absolute top-50 end-0 translate-middle-y me-2 d-flex align-items-center justify-content-center">
            <img src="../assets/images/icons/icon_cat_can.png" alt="icon_cat_can" width="22" height="22">
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <!--保持footer維持primary-->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // 找到底部的「總覽」按鈕 (第一個)
        const navBtns = document.querySelectorAll(".btn-nav-bottom");
        if (navBtns.length > 0) {
          navBtns[1].classList.add("active");  // 讓第一個變 active
        }
      });
    </script>
  </body>
</html>
