<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <!--保持footer維持primary-->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // 找到底部的「總覽」按鈕 (第一個)
        const navBtns = document.querySelectorAll(".btn-nav-bottom");
        if (navBtns.length > 0) {
          navBtns[1].classList.add("active");  // 讓第二個變 active
        }
      });
    </script>
  </body>
</html>
