<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>設定</title>
  </head>
  <body class="bg-primary-50">
    <%- include('./layout/header'); -%>

    <main class="main main-setting">
        <div class="container d-flex flex-column gap-8">
            <div class="row">
                <h1 class="fs-9 text-primary-600 fw-bold text-center mb-0">設定</h1>
            </div>
            <div class="content row d-flex flex-column gap-4">

                <div class="settingAccount d-flex flex-column gap-2">
                    <h2 class="fs-11 text-primary-600 mb-0">帳戶管理</h2>
                    <button class="setting-item d-flex justify-content-between align-items-center fs-11 text-primary-700 bg-neutral-0 border rounded-xs pe-2 ps-6" type="button" data-bs-toggle="offcanvas" data-bs-target="#settingAccount" aria-controls="settingAccount">
                        <div class="setting-item-content d-flex align-items-center ">
                            <p class="mb-0">Sarah Wang</p>
                        </div>
                    </button>

                    <div class="offcanvas offcanvas-end bg-primary-50" tabindex="-1" id="settingAccount" aria-labelledby="settingAccountLabel">
                        <div class="offcanvas-header">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body d-flex flex-column gap-5">
                            <div class="avatar"></div>

                            <div class="loginAccount d-flex flex-column gap-2">
                                <label for="loginAccount" class="form-label fs-11 text-primary-600 mb-0">登入帳戶</label>
                                <div class="input-group align-items-center gap-6 flex-nowrap  bg-neutral-0 border rounded-xs ps-6 pe-2">
                                    <span class="input-group-text fs-11 fw-bold text-primary-700 bg-neutral-0 border-0 p-0" id="loginAccountDesc">帳號</span>
                                    <input type="text" class="form-control fs-11 text-primary-700 text-wrap bg-neutral-0 border-0 p-0" id="loginAccount" placeholder="xxxxxx@gmail.com" value="sarahwang@gmail.com ( 已綁定 Google )" aria-label="login account" aria-describedby="loginAccountDesc">
                                </div>
                            </div>

                            <div class="personalData">
                                <p class="fs-11 text-primary-600 mb-0">個人資料</p>
                                
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Launch demo modal
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="settingTemplate d-flex flex-column gap-2">
                    <h2 class="fs-11 text-primary-600 mb-0">功能設定</h2>
                    <a class="setting-item d-flex justify-content-between align-items-center bg-neutral-0 text-decoration-none border rounded-xs pe-2 ps-6" href="#" role="button">
                        <div class="setting-item-content d-flex align-items-center ">
                            <p class="fs-11 text-primary-700 mb-0">寫作範本</p>
                        </div>
                    </a>
                </div>
                <div class="settingNotification d-flex flex-column gap-2">
                    <h2 class="fs-11 text-primary-600 mb-0">通知設定</h2>
                    <a class="setting-item d-flex justify-content-between align-items-center bg-neutral-0 text-decoration-none border rounded-xs pe-2 ps-6" href="#" role="button">
                        <div class="setting-item-content d-flex align-items-center ">
                            <p class="fs-11 text-primary-700 mb-0">推播通知</p>
                        </div>
                    </a>
                </div>
                <div class="settingOnboarding d-flex flex-column gap-2">
                    <h2 class="fs-11 text-primary-600 mb-0">其他</h2>
                    <a class="setting-item d-flex justify-content-between align-items-center bg-neutral-0 text-decoration-none border rounded-xs pe-2 ps-6" href="#" role="button">
                        <div class="setting-item-content d-flex align-items-center ">
                            <p class="fs-11 text-primary-700 mb-0">新手導覽</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <!--保持footer維持primary-->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // 找到底部的「總覽」按鈕 (第一個)
        const navBtns = document.querySelectorAll(".btn-nav-bottom");
        if (navBtns.length > 0) {
          navBtns[3].classList.add("active");  // 讓第一個變 active
        }
      });
    </script>
  </body>
</html>
